/* ========================================= */
/* 1. HEADER BASE */
/* ========================================= */

header {
    background-color: transparent;
    position: relative;
    z-index: 999;
}

/* ========================================= */
/* 2. NAVBAR */
/* ========================================= */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent !important;
    box-shadow: none !important;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.4s ease-out;
}

.navbar.hide-on-scroll {
    transform: translateY(-100%);
}

/* ========================================= */
/* 3. FUNDO DA NAVBAR (RETÂNGULO VERDE) */
/* ========================================= */

.navbar-fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    transform: translateY(-100%);
    background-image: linear-gradient(60deg, #1f243D, #052c00 50%);
    z-index: 900;
    transition:
        background-color 0.4s ease-out,
        box-shadow 0.4s ease-out,
        transform 0.4s ease-out;
}

.navbar-fundo.show{
    transform: translateY(0);
}

.navbar-fundo.scrolled {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-fundo.hide-on-scroll {
    transform: translateY(-100%);
}

/* ========================================= */
/* 4. LADO ESQUERDO */
/* ========================================= */

.logo {
    width: 140px;
    height: auto;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 32px;
    row-gap: 10px;
    padding: 0;
    margin: 5px 0 0 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

/* ========================================= */
/* 5. LADO DIREITO */
/* ========================================= */

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* ========================================= */
/* ÍCONES E BOTÃO */
/* ========================================= */

.circle-icon {
    background: #0E7000;
    color: black;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.ctt-button {
    padding: 8px 15px;
    margin-left: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid #97d225;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ctt-button:hover {
    background-color: #97d225;
    color: #1a1a1a;
}
