/*
 * ==========================================
 * 9. FOOTER
 * ==========================================
 */
footer {
  background: var(--preto-profundo);
  text-align: center;
  background-image: linear-gradient(60deg, #1f243D, #052c00 40%);
  padding: 20px;
  margin-top: 20px;
}